input{
    margin-top: 2rem;
    width: 12rem;
    height: 40px;

}
button{
    margin-left: 1rem;
    background-color: rgb(70, 70, 248);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    outline: none; 
}
ul,ol{
    list-style: none;
}