<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue的过渡效果</title>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
    <style>
        .v-enter,
        .v-leave-to{
            opacity: 0;
        }
        .v-leave-active,
        .v-enter-active{
            transition: opacity 3s;
        }
    </style>
</head>
<body>
    <div id="app">
    
        <!-- 为组件添加动画效果 -->
        <transition><!-- 被transition包裹后,dom外层会自动添加/删除 上面的css类,vue就是通过控制css3来实现动画效果的-->
            <child-three v-if="show"  content="hello child three">
                <li slot-scope="props">{{props.item}}</li>
            </child-three>
        </transition>
        <button @click="handleBtnClick">按钮</button>
    </div>
    
</body>
<script>
    
    var child = {
        template:`
            <div>
                <ul>
                    <slot v-for="item of list" :item=item></slot>
                </ul>
            </div>
        `,
        data:function(){
            return{
               
            }
        },
        props:["content"],
        methods:{

        },
        data:function(){
            return{
                list:[6,7,8,9,10]
            }
        }
    };

    var Vm = new Vue({
        el:"#app",
        data:{
            type:'child-one',
            show:false
        }, 
        components:{
            "child-three":child
        },
        methods:{
            handleBtnClick:function(){
                this.show = !this.show;
            }
        }
    })
</script>
</html>